.carrossel-carros{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.marcas-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 80px 0;
}

.marcas-container p {
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;

}

.marcas{
    display: flex;
    gap: 0 35px;
}

.marca{
    width: 200px;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.marcas:hover > :not(:hover) {
    opacity: 0.4;
    transform: scale(0.9);
}

.bmw{
    width: 120px;
}

.carrosel-carros-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;

    width: 60%;
    background: rgb(231, 231, 231);
    border-radius: 20px;
    margin: 30px;
    overflow: hidden;
}


.imgCarrosselCarro {
    width: 500px;
    height: 300px;
}

.seta{
    width: 40px;
    transition: 300ms ease-in-out;
}

.seta:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.carro-detalhes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-carro{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
}

.btn-detalhes{
    background: rgb(0, 0, 0);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 50px;
    transition: 300ms ease-in-out;
}

.btn-detalhes:hover{
    color: #000;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px #000;
    cursor: pointer;
}

.voltaCarro{
    animation: 400ms ease-in-out 0s voltaCarro;
}

.passaCarro{
    animation: 400ms ease-in-out 0s passaCarro;
}


@keyframes passaCarro{
    from{
        opacity: 1;
        transform: translateX(0);
    }

    to{
        opacity: 0;
        transform: translateX(800px);

    }
}

@keyframes voltaCarro {
    from{
        opacity: 0;
        transform: translateX(0);
    }

    to{
        opacity: 1;
        transform: translateX(-800px);

    }
}

@media (max-width: 720px){
    .marcas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px 0;

        margin-bottom: 50px;
    }

    .seta{
        position: absolute;
    }

    .s_esquerda{
        left: 10%;
    }

    .s_direita{
        left: 80%;
    }

    .imgCarrosselCarro{
        width: 400px;
        height: 200px;
    }

    .carrossel-carros{
        padding: 0 30px;
        height: auto;
    }

    .carrosel-carros-container{
        width: 100%;

        padding: 20px 0;
    }

    .btn-detalhes{
        margin: 0;
    }
}
