*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes aparecendo{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

