@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,300;0,600;1,400&display=swap');

/* font-family: 'Raleway', sans-serif; */

:root{
    --bg-primary-color: rgba(238, 238, 238,0.6);
    --text-primary-color: #fff;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.header {
    position: absolute;
    width: 100%;

    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    width: 20px;
    height: 20px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 22px;
    color: var(--text-primary-color);
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--text-primary-color);
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--text-primary-color);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px) {
    :root{
        --text-primary-color: #000;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    /* Background navlist */
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bg-primary-color);
        clip-path: circle(100px at 90% -15%);
        transition: 0.5s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    /* Animação links */
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.3s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.4s;
    }

    /* Estilos ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}